@tailwind base;

@layer base {
  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 56.25px;
    letter-spacing: 0em;
  }
  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 37.5px;
    letter-spacing: 0em;
  }
  h3 {
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 30.47px;
    letter-spacing: 0em;
  }
  h4 {
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    line-height: 19.92px;
    letter-spacing: 0em;
  }
  h5 {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 0em;
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }
}

@tailwind components;
@tailwind utilities;
